header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(161, 161, 223);
    padding: 10px;
}

nav {
    display: flex;
    padding: auto;
}

nav div {
    margin-right: 30px;
}

.link {
    color: inherit;
    text-decoration: none;
}